<h1>About...</h1>

<div class="text_box">
	<h2>...The App</h2>
	<p>&nbsp;</p>
	<p>This app has been developed in <a href="http://rubyonrails.org/">Ruby on Rails</a> with the purpose of showcasing my skills with the framework. It's been originally developed as my final assignment for the course <a href="https://www.coursera.org/learn/ruby-on-rails-intro">Ruby on Rails: An Introduction</a>. I have though added several functional improvements to the original concept, given that the original assignment is too simplified and doesn't reflect the industry's standards.</p>
</div>

<p>&nbsp;</p>

<div class="text_box">
	<h2>...The Developer</h2>
	<p>&nbsp;</p>
	<p>I'm an experienced full-stack software developer with a bias for back-end development and data analysis. I'm skillful programming in several languages (among them: Java, Scala, Python and Clojure). You will find an extensive portfolio with samples of my work in both programming and data science <a href="https://github.com/marciogualtieri/About">on GitHub</a>.</p>
	<p>I have also certified training in functional programming, web development, cluster computing (Spark) and data science (including machine learning and deep learning). You will find all my certifications<a href="https://www.linkedin.com/in/marcio-gualtieri-999773b/"> on my LinkedIn profile</a>.</p>
	<p>I'm for hire! You may contact me through <a href="https://www.linkedin.com/in/marcio-gualtieri-999773b/">LinkedIn</a> or e-mail (marcio dot gualtieri at gmail dot com).</p>
</div>