// Place all the styles related to the recipes_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
  width: 97% !important;
  margin: 0px auto;  
}

tr {
	color: #808775
}

td {
  padding: 12px;
}

.even {
  background-color: #D6E1C3;
}

.carousel-inner,.carousel,.item,.container,.fill {
  width: 90%;
  background-position: center center;
}

.carousel-control {
  padding-top: 10%;
}

.carousel-control.left {
  margin-left: -5%;
}

.carousel-control.right {
  margin-right: -5%;
}

.category_image { 
  background: url(image.jpg) 50% 50% no-repeat;
  width: 250px;
  height: 250px;
}

#recipes_carousel {
  margin-left: 5%;
  margin-right: 5%;
}

.well {
  background: #D6E1C3 !important;
  width: 100% !important;
}

.category {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 200%;
    font-weight: bold;
    text-shadow: 0 0 5px #000;
    color: #D6E1C3;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search_form_container {
    margin-left: 1%
}